a.hideAchievement {
    float: right;
}

div.achievement {
    background: #ffc no-repeat 5px 7px;
    background-size: 16px 16px;
    margin-bottom: 5px;
    padding: 10px 10px 10px 15px;
    border: 1px solid #ff8c00;
    color: #222;
}

table.achievementsTable {
    width: 80em;
}

table.achievementsTable td {
    vertical-align: top;
}

table.achievementsTable td.achievementName {
    width: 20%;
}

table.achievementsTable td.description {
    width: 65%;
}

#myachievements {
    text-decoration: none;
    padding-left: 4px;
    padding-right: 4px;
}

#myachievements i {
    border: 1px solid #CCC;
    border-radius: 4px;
    padding: 2px 3px;
    text-align: center;
    height: 13px;
    min-width: 13px;
    display: inline-block;
    margin-right: 2px;
}
