a.hideAchievement {
    float: right;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #B2B2B2;
    font-size: 12px;
    padding-left: 16px;
    padding-right: 6px;
}

div.achievements {
    background: rgba(255, 255, 95, 0.8) no-repeat 5px 7px;
    background-size: 16px 16px;
    padding: 2px 2px 2px 2px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    color: #1564C2;
    position: fixed;
    top: 0px;
    left: 25%;
    right: 25%;
    width: 50%;
    z-index: 1000;
    text-align: center;
}

table.achievementsTable {
    width: 80em;
}

table.achievementsTable td {
    vertical-align: top;
}

table.achievementsTable td.achievementName {
    width: 20%;
}

table.achievementsTable td.description {
    width: 65%;
}

#myachievements {
    text-decoration: none;
    padding-left: 4px;
    padding-right: 4px;
}

#myachievements i {
    border: 1px solid #CCC;
    border-radius: 4px;
    padding: 2px 3px;
    text-align: center;
    height: 13px;
    min-width: 13px;
    display: inline-block;
    margin-right: 2px;
}

.early-bird{
    display: inline-block;
    background-color: transparent;
    background-image: url(early-bird.png);
    background-repeat: no-repeat;
    background-size: 12px 12px;
    background-position: 0;
    color: transparent;
}

#myachievements .early-bird {
    background-position: 4px 2px;
}

.achievementName .early-bird {
    filter: grayscale(1) brightness(23%);
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 200 / 100),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
    .early-bird{
        background-image: url(early-bird@2x.png);
    }
}
